<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>AngularSpike</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="user_nav">
      <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you?
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or
      <%= link_to "Sign in", new_user_session_path %>
      <% end %>
      <%= content_for?(:embeded_layout) ? yield(:embeded_layout) : yield %>
    </div>

  </body>
</html>
